.bunkTable th
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
td
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.redPercentage
{
	color: red;
}
.greenPercentage
{
	color: green;
}
.orangePercentage
{
	color: orange;
}
label,input
{
	font-size: 20px;
	padding: 5px;
}

form label
{
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	padding: 10px 0;
}

form input#name
form input#email
form input#subject
{
	width: 400px;
	padding : 10px;
	font-size: 1.3em;
}

input:invalid
{
	border: 1px solid red;
}

input:valid 
{
	border: 1px solid green;
}