.bunkTable th
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
td
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.redPercentage
{
	color: red;
}
.greenPercentage
{
	color: green;
}
.orangePercentage
{
	color: orange;
}
label,input
{
	font-size: 20px;
	padding: 5px;
}